<div id="content" class="credits">
  <h1>Credits</h1>

  <h3>
    Minesweeper-Bot series #834 is brought to you by:
  </h3>

  <ul>
    <li>The Joshua Cohen-matic <a href="http://github.com/jcohen">Github</a> | <a href="http://twitter.com/chyekk">Twitter</a></li>
    <li>The Fire-at-Will Stubbs <a href="http://github.com/wills">Github</a> | <a href="http://twitter.com/rort">Twitter</a></li>
  </ul>

  <h3>
    Additional resources courtesy of:
  </h3>

  <ul>
    <li>Original <a href="http://www.thisischris.com/uploaded_images/Robot-and-Bird-03_small-779473.jpg">Robot and bird image</a> by <a href="http://www.thisischris.com/">Christopher Grant Harris</a></li>
    <li><a href="http://www.famfamfam.com/lab/icons/silk/">FamFamFam Silk Icon Set</a></li>
    <li><a href="http://www.dafont.com/classic-robot.font">Classic Robot Font</a> by <a href="http://www.pixelsagas.com/">Neale Davidson</a></li>
    <li>Hosting: <a href="http://www.linode.com/">Linode</a></li>
  </ul>

  <br />  <br />
  <p class="smaller">
    The Minesweeper-Bot would have seized up years ago without these awesome NPM (Neo-Pneumatic Modules) packages:
  </p>

  <ul class="smaller">
    <li><a href="http://expressjs.com/">Express</a></li>
    <li><a href="http://www.handlebarsjs.com/">Handlebars</a></li>
    <li><a href="https://github.com/donpark/hbs">hbs</a></li>
    <li><a href="https://github.com/broofa/node-uuid">node-uuid</a></li>
    <li><a href="https://github.com/mranney/node_redis">redis</a></li>
    <li><a href="http://socket.io/">socket.io</a></li>
  </ul>

  <p class="smaller">
    Finally, none of this would have been possible without the amazing <a href="http://nodejs.org/">Node.js</a> community and the folks at <a href="http://nodeknockout.com/">Node Knockout</a> for putting this all together.
  </p>
</div>