<script src="/socket.io/socket.io.js"></script>

<div id="main">
  <form id="joinForm">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" />
    <input type="button" id="joinGame" value="Join Game" />
  </form>
</div>

<div class="social hidden">
Messages
<div id="log">
</div>
Chat: <input id="chat"></input>
</div>

<script src="/js/handlebars.1.0.0.beta.3.js"></script>
<script src="/js/templates.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/game.js"></script>
<script src="/js/multisweeper.js"></script>