<div id="content">
  <h1>Multisweeper</h1>

  <p>
    If you wake the Minesweeper-bot he'll force you and anyone else who comes along to find mines in a battle to the death!
  </p>
  <br />
  {{#if games}}
  {{players}} players blew themselves up with {{bombs}} bombs over {{games}} games.
  {{/if}}
</div>