<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
    <link href="/stylesheets/reset.css" media="screen" rel="stylesheet" type="text/css"></link>
    <link href="/stylesheets/multisweeper.css" media="screen" rel="stylesheet" type="text/css"></link>
  </head>
  <body>
  {{{body}}}

  <div class="overlay hidden"></div>
  <div class="modal hidden"></div>

  </body>
</html>