<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
  {{{body}}}
  </body>
</html>