<div class="hall">
<h1>MultiSweeper</h1>
<h2>Hall of Fame</h2>
<div class="preamble">
The best of the best...
<span class="beat">
Think you can <a href="/game">beat</a> them?
</span>
</div>
<div class="highscores">
{{#index scores}}
  <div class="entry">
  {{inc idx}}. <span class="name truncate">{{name}}</span> <span class="score">{{score}}</score>
  </div>
  <div class="clear"></div>
{{/index}}
</div>
</div>

<script>
    $(".entry:odd").css("background-color", "#d6c5c4");
    $(".entry:even").css("background-color", "#d8e7ec");
    $(".truncate").textTruncate({width: 240});
</script>