<div class="content">
<h2>Board clear!</h2>
{{#index players}}
    <div class="result">
    {{inc idx}}. <span class="name truncate">{{playerName}}</span> <span class="score">{{score}}</score>
    </div>
{{/index}}
<div class="clear"></div>

</div>
<span class="footnote">View all time <a href="/scores">highscores</a></span>
<div class="button done">OK</div>
<div class="clear"></div>
