.players {
    margin-bottom: 20px;
    min-height: 30px;
}
.player {
    float: left;
    font-size: 16px;
    margin-right: 10px;
}

.player .score {
    display: inline;
    font-size: 12px;
}

.board {
  width: 180px;
  height: 200px;
  border: 1px solid;
}

.row {
  height: 16px;
}

.cell {
  width: 16px;
  text-align: center;
  float: left;
  background: #ccc;
  border-left: 1px solid;
  border-top: 1px solid;
  padding-right: 1px;
  padding-bottom: 1px;
}

.left {
    border-left: 0px;
}

.unknown {

}

.revealed {

}

.overlay {
    background: rgba(0,0,0,0.9);
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.gameover h2 {
    text-align: center;
    margin-top: 0px;
}

.gameover {
    z-index: 2;
    width: 500px;
    border: 3px solid #008CDA;
    background: #ffffff;
    padding: 5px;
    font-size: 20px;
    position:absolute;
    top:20%;
    left:50%;
    margin-left:-250px
}

.gameover .button {
    float: right;
    background: #008CDA;
    color: #ffffff;
    font-size: 14px;
    padding: 5px 10px;
    margin-right: 15px;
}

.gameover .content {
    background: #e5e5e5;
    padding:15px;
    margin: 15px;
}

.gameover .result {
    margin-left: 50px;
    margin-right: 50px;
}

.gameover .footnote {
    margin-left: 15px;
    font-size: 12px;
}

.gameover a {
    color: #008CDA;
}
.gameover .score {
    float: right;
}

.hidden {
    display: none;
}
.clear {
    clear: both;
}